
.authentication::before {
    display: none;
}

.theme-black .sidebar .menu .list li.active.open li.active.open a {
    color: #fff;
}

tbody td:nth-of-type(odd), thead th:nth-of-type(odd){
    background:rgba(0,0,0,.02);
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.05);
}

.hidden {
    display: none;
}

.bootstrap-select .dropdown-menu .status {
    font-size: smaller;
    padding: 2px 8px;
    color: darkgray;
    font-style: italic;
}

.bootstrap-select.form-control .btn-round.btn-simple {
    padding: 8px 22px;
}

.bootstrap-select.open {
    transform: none;
}

.form-group .bootstrap-select.form-control {
    padding: 0;
}

.alert-success {
    color: #fff;
}

.hint-block {
    color: darkgray;
    font-style: italic;
    font-size: smaller;
}

.has-error .help-block {
    color: red;
}

.block-header {
    border-bottom: 1px solid #eee;
}